
  <style> @import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap'); </style>
  <style> .gps-495965041405723784 .gp-relative{position:relative}.gps-495965041405723784 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-495965041405723784 .gp-mb-0{margin-bottom:0}.gps-495965041405723784 .\!gp-inline{display:inline!important}.gps-495965041405723784 .gp-flex{display:flex}.gps-495965041405723784 .gp-grid{display:grid}.gps-495965041405723784 .\!gp-hidden{display:none!important}.gps-495965041405723784 .gp-hidden{display:none}.gps-495965041405723784 .gp-h-full{height:100%}.gps-495965041405723784 .gp-w-full{width:100%}.gps-495965041405723784 .gp-max-w-full{max-width:100%}.gps-495965041405723784 .gp-flex-col{flex-direction:column}.gps-495965041405723784 .gp-gap-y-0{row-gap:0}.gps-495965041405723784 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-495965041405723784 .gp-duration-200{transition-duration:.2s}.gps-495965041405723784 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-495965041405723784 .tablet\:\!gp-hidden{display:none!important}.gps-495965041405723784 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-495965041405723784 .mobile\:\!gp-hidden{display:none!important}.gps-495965041405723784 .mobile\:gp-hidden{display:none}}.gps-495965041405723784 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-495965041405723784 .\[\&_p\]\:gp-inline p{display:inline}.gps-495965041405723784 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-495965041405723784 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gSk8hMJC3c"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--pl:15px;--pr:15px;--pt-mobile:var(--g-s-3xl);--pt-tablet:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSk8hMJC3c gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:start"
      class="g50C4sdfJU gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gcgSoUm1md"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcgSoUm1md gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwJsKZgabd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gmmWwZbCcv "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt:auto;--mb:auto;--mt-mobile:auto;--mb-mobile:auto"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:600;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word;overflow:hidden"
        ><p>As Seen On:</p></h2>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_udKjqF3d gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCBft69ML3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt-mobile:var(--g-s-s);--pt-tablet:var(--g-s-s);--cg:var(--g-s-l);--cg-tablet:var(--g-s-m);--cg-mobile:12px;--pc:start;--gtc:minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);--gtc-tablet:minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCBft69ML3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIsJpJ9xRg gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gfmk535OeV"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png" | asset_url }}" srcset="{{ '432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png' | asset_img_url: 'master' }} 1440w" width="306" height="204" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png" | asset_url }}" data-srcset="{{ '432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-04aebd9e-655d-41b8-8646-01e7e7571434.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="306" height="204" alt="Alt Image"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ga2v7g-iTu gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gGXK0YFVs2"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png" | asset_url }}" srcset="{{ '432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png' | asset_img_url: 'master' }} 1440w" width="306" height="204" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png" | asset_url }}" data-srcset="{{ '432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-305fe3f6-84db-459c-bb30-0f12259396fb.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="306" height="204" alt="Alt Image"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsmSu5pKPx gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gt-LkdyvVt"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png" | asset_url }}" srcset="{{ '432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png' | asset_img_url: 'master' }} 1440w" width="306" height="204" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png" | asset_url }}" data-srcset="{{ '432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-f18ded86-72b2-479b-95f8-7b10dafff0bf.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="306" height="204" alt="Alt Image"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gK5f2i24XL gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gfExA0Ewdu"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:12px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png" | asset_url }}" srcset="{{ '432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png' | asset_img_url: 'master' }} 1440w" width="306" height="204" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png" | asset_url }}" data-srcset="{{ '432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-d6f4398f-4dd1-45aa-ab94-937fbef869bc.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="306" height="204" alt="Alt Image"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjYlbBKLm2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image g-X2AlxAk3"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:12px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png" | asset_url }}" srcset="{{ '432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png' | asset_img_url: 'master' }} 1440w" width="306" height="204" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png" | asset_url }}" data-srcset="{{ '432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-1d8b9429-ac9e-4428-8ccd-d7af5e6c40af.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="306" height="204" alt="Alt Image"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbwIy3AfJ_ gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gTAmARIpfO"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mt-mobile:12px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png" | asset_url }}" srcset="{{ '432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png' | asset_img_url: 'master' }} 1440w" width="306" height="204" alt="Alt Image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title="Image Title"
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png" | asset_url }}" data-srcset="{{ '432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-26f21b13-1f5f-4ab5-a34e-dd2a0a04695a.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="306" height="204" alt="Alt Image"
      sizes="100vw"
      style="--aspect:306/204;--aspect-tablet:306/204;--aspect-mobile:306/204;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 5",
      "tag": "section",
      "class": "gps-495965041405723784 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c4e72d-3/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=495958189020283785&sectionId=495965041405723784)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
